<mat-tab-group>
  <mat-tab label="Personal Data">
    <h2> Welcome, {{user.vorname}} {{user.nachname}}</h2>
    <mat-list>
      <mat-divider></mat-divider>
      <mat-list-item>Username: {{user.login}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Last Name: {{user.nachname}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>First Name: {{user.vorname}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Adress: {{user.adresse}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Your User Id: {{user.id}}</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-tab>
  <mat-tab label="Payment Information">
    payment info
  </mat-tab>
  <mat-tab label="Settings">
    stuff
  </mat-tab>
</mat-tab-group>