<h2> Welcome, {{user.vorname}} {{user.nachname}}</h2>
<mat-list>
  <mat-divider></mat-divider>
  <mat-list-item>Username: {{user.login}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Last Name: {{user.lastName}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>First Name: {{user.firstName}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Address: {{user.address}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Your User Id: {{user.id}}</mat-list-item>
  <mat-divider></mat-divider>
</mat-list>